html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: 'Roboto', sans-serif;
}

/**
 * In order to be flexible and responsive, everything inside of #app should
 * use flexbox styles without heights of 100%;
 */
#app { display: flex; }
